.idea
logs
*.iml
*.inc
.project
.classpath
.settings
.externalToolBuilders/
target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
src/main/webapp/WEB-INF/classes
src/main/resources/META-INF/persistence.xml
src/main/webapp/META-INF/
overlays
